.home-title {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
    animation-delay: 1s;
    color: #f1683a;
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
    width: 75%;
    margin-inline: auto;
}

.home-title.animate::before {
    content: '';
    position: absolute;
    top: 1rem;
    bottom: 0.625rem;
    right: 0;
    width: 100%;
    height: 85%;
    background: #f1683a;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title.animate::after {
    content: '';
    position: absolute;
    top: 1rem;
    bottom: 0.625rem;
    right: 0;
    width: 100%;
    height: 85%;
    background: white;
    animation: a-ltr-after 0.7s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(200)}
    100% {transform: translateX(200%)}
}

@media screen and (max-width: 700px) {
    .banner {
        min-height: calc(160vh + 50px) !important;
    }
    .glow-list {
        width: 80% !important;
    }
    .home-title {
        font-size: 3.5em;
        width: 100%;
    }
    .description {
        width: 130vw !important;
    }
    .species-footer {
        top: 154vh !important;
        background: red;
    }
    @media screen and (min-height: 750px) {
        .banner {
            min-height: calc(125vh + 50px) !important;
        }
        .glow-list {
            width: 80% !important;
        }
        .home-title {
            margin-top: 2rem;
            font-size: 3.5em;
            width: 100vw;
        }
        .description {
            width: 130vw !important;
        }
        .species-footer {
            top: 120vh !important;
        }
    }
}

@media screen and (min-width: 750px) and (max-width: 1020px) {
    .banner {
        min-height: calc(132vh + 50px) !important;
    }
    .glow-list {
        width: 80% !important;
    }
    .content {
        width: 75vw;
    }
    .home-title {
        font-size: 3.5em;
        width: 100%;
    }
    .description {
        width: 130vw !important;
    }
    .species-footer {
        top: 125vh !important;
    }
}
